.hero {
  padding-top: 60px;

  position: relative;
  overflow: hidden;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.hero__text {
  position: relative;
  z-index: 2;
  max-width: 500px;
}

.hero__title {
  font-size: 72px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 80px;
  letter-spacing: -0.02em;
}

.hero__subtitle {
  margin-bottom: 40px;
}

.hero__subtitle h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.hero__description {
  font-size: 18px;
  line-height: 1.5;
  color: var(--gray-color);
  max-width: 400px;
}

.hero__image {
  position: absolute;
  left: 200px;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
       -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); 
}

.hero__cards {
  position: relative;
  gap: 20px;
  z-index: 3;
  width: 420px;
  padding: 40px 0;
}

.hero__card-partner {
  position: absolute;
  top: 0px;
  right: 55px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
 
  background: rgba(255, 255, 255, 0.4);
  width: 420px;
}

.hero__card-official {
  position: absolute;
  bottom: 40px;
  right: 90px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.4);
  width: 380px;
}

.hero__card {
  background: var(--background-color);
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  position: relative;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.9);
}

.hero__card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
    
}

.hero__card-header h3 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 700;
  margin-right: 20px;
  max-width: 300px;
}

.hero__card-header img {
  width: 52px;
  height: 52px;
  margin-top: 4px;
}

.hero__card p {
  font-size: 14px;
  line-height: 1.5;
  color:#121217;
}

@media (max-width: 1400px) {
  .hero__content {
    padding-left: 40px;
  }

  .hero__title {
    font-size: 64px;
  }

  .hero__subtitle h2 {
    font-size: 36px;
  }

  .hero__card-partner,
  .hero__card-official {
    width: 380px;
  }
}

@media (max-width: 992px) {
  .hero {
    padding-top: 100px;
    min-height: auto;
  }

  .hero__content {
    padding-left: 20px;
  }

  .hero__title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .hero__subtitle h2 {
    font-size: 32px;
  }

  .hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .hero__text {
    position: relative;
    z-index: 2;
    color: var(--background-color);
  }

  .hero__description {
    color: gray;
    margin-bottom: 10px;
  }

  .hero__cards {
    width: 100%;
    padding: 20px;
    height: auto;
  }

  .hero__card-partner,
  .hero__card-official {
    position: relative;
    width: 100%;
    max-width: 500px;
    top: auto;
    right: auto;
    bottom: auto;
  }

  .hero__card {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 80px;
  }

  .hero__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .hero__subtitle h2 {
    font-size: 22px;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__image {
    height: 100%;
  }

  .hero__cards {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .hero__card-partner,
  .hero__card-official {
    padding: 24px;
  }

  .hero__card-header h3 {
    font-size: 20px;
  }
} 